.book-toc > li:nth-child(2),
.book-toc > li:nth-child(3),
.book-toc > li:nth-child(5),
.book-toc > li:nth-child(8),
.book-toc > li:nth-child(17),
.book-toc > li:nth-child(18),
.book-toc > li:nth-child(23),
.book-toc > li:nth-child(24),
.book-toc > li:nth-child(27),
.book-toc > li:nth-child(28),
.book-toc > li:nth-child(29),
.book-toc > li:nth-child(30),
.book-toc > li:nth-child(32),
.book-toc > li:nth-child(33),
.book-toc > li:nth-child(36),
.book-toc > li:nth-child(41),
.book-toc > li:nth-child(42),
.book-toc > li:nth-child(44),
.book-toc > li:nth-child(45),
.book-toc > li:nth-child(46),
.book-toc > li:nth-child(48),
.book-toc > li:nth-child(49),
.book-toc > li:nth-child(51),
.book-toc > li:nth-child(52),
.book-toc > li:nth-child(53),
.book-toc > li:nth-child(65),
.book-toc > li:nth-child(66),
.book-toc > li:nth-child(68),
.book-toc > li:nth-child(69),
.book-toc > li:nth-child(70),
.book-toc > li:nth-child(71),
.book-toc > li:nth-child(72),
.book-toc > li:nth-child(73),
.book-toc > li:nth-child(76),
.book-toc > li:nth-child(77),
.book-toc > li:nth-child(78),
.book-toc > li:nth-child(80),
.book-toc > li:nth-child(81),
.book-toc > li:nth-child(82),
.book-toc > li:nth-child(83),
.book-toc > li:nth-child(84),
.book-toc > li:nth-child(85),
.book-toc > li:nth-child(86),
.book-toc > li:nth-child(89),
.book-toc > li:nth-child(93),
.book-toc > li:nth-child(97),
.book-toc > li:nth-child(100),
.book-toc > li:nth-child(103),
.book-toc > li:nth-child(106),
.book-toc > li:nth-child(109)  {
	padding-left: 10px;
}
.book-toc > li:nth-child(9),
.book-toc > li:nth-child(13),
.book-toc > li:nth-child(19),
.book-toc > li:nth-child(20),
.book-toc > li:nth-child(21),
.book-toc > li:nth-child(34),
.book-toc > li:nth-child(35),
.book-toc > li:nth-child(37),
.book-toc > li:nth-child(38),
.book-toc > li:nth-child(39),
.book-toc > li:nth-child(54),
.book-toc > li:nth-child(55),
.book-toc > li:nth-child(56),
.book-toc > li:nth-child(57),
.book-toc > li:nth-child(58),
.book-toc > li:nth-child(59),
.book-toc > li:nth-child(90),
.book-toc > li:nth-child(91),
.book-toc > li:nth-child(92),
.book-toc > li:nth-child(94),
.book-toc > li:nth-child(95),
.book-toc > li:nth-child(96),
.book-toc > li:nth-child(98),
.book-toc > li:nth-child(99),
.book-toc > li:nth-child(104),
.book-toc > li:nth-child(105),
.book-toc > li:nth-child(107),
.book-toc > li:nth-child(108),
.book-toc > li:nth-child(110),
.book-toc > li:nth-child(111),
.book-toc > li:nth-child(112),
.book-toc > li:nth-child(113)  {
	padding-left: 20px;
}
.book-toc > li:nth-child(10),
.book-toc > li:nth-child(11),
.book-toc > li:nth-child(12),
.book-toc > li:nth-child(14),
.book-toc > li:nth-child(15),
.book-toc > li:nth-child(16)  {
	padding-left: 30px;
}
.book-toc > li:nth-child(7),
.book-toc > li:nth-child(22),
.book-toc > li:nth-child(26),
.book-toc > li:nth-child(31),
.book-toc > li:nth-child(40),
.book-toc > li:nth-child(43),
.book-toc > li:nth-child(47),
.book-toc > li:nth-child(50),
.book-toc > li:nth-child(60),
.book-toc > li:nth-child(62),
.book-toc > li:nth-child(63),
.book-toc > li:nth-child(64),
.book-toc > li:nth-child(67),
.book-toc > li:nth-child(75),
.book-toc > li:nth-child(79),
.book-toc > li:nth-child(88),
.book-toc > li:nth-child(101),
.book-toc > li:nth-child(102)  {
	position: sticky;
	top: 4.3rem;
	background: white;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 0.5rem;
	z-index: 1;
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}
